<Configuration status="warn" name="MyApp" packages="">
  <Appenders>
    <RollingFile name="hippodrome" fileName="logs/hippodrome.log"
                 filePattern="logs/hippodrome.%d{yyyy-MM-dd}.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.}: %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="logs" maxDepth="1">
          <IfFileName glob="hippodrome.*.log"/>
          <IfLastModified age="7d"/>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="hippodrome"/>
    </Root>
  </Loggers>
</Configuration>